@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  --blue-primary: #3f7ef3;
  --black: #000000;
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --white: #ffffff;

  /* --radius-sm: 8px;

  --btn-width: 224px;
  --btn-height: 44px;

  --text-h1: 24px;
  --text-h2: 18px;
  --text-body: 14px;
  --text-small: 12px; */
}

@layer utilities {
  .bg-primary {
    background-color: var(--blue-primary);
  }

  .text-primary {
    color: var(--blue-primary);
  }
}

@layer base {
  input::placeholder,
  textarea::placeholder {
    font-family: var(--font-sans);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--text-body);
  color: var(--black);
  background-color: var(--white);
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
